<!-- CUERPO -->
<div class="container-fluid">
    <!-- id="cuerpo" -->
    <h1 class="col-10 mx-auto text-center">LISTADO LOGS</h1>
    <div class="row">
        <div class="col-10 mx-auto">

            <table class="table table-bordered table-dark table-hover">
                <tr>
                    <th>fecha</th>
                    <th>Usuario</th>
                    <th>Accion</th>
                    <th>Detalles</th>
                </tr>
                {{#if logs}}
                {{#each logs}}
                <tr>
                    <td>
                         {{timeago this.fecha}} 
                    </td>
                        <td>
                         {{this.usuario}} 
                    </td>
                        <td>
                         {{this.accion}} 
                    </td>
                        <td>
                         {{this.observacion}} 
                    </td>

               
               
                </tr>
                {{/each}}
                {{else}}
                <tr>No hay ningún log generado!! </tr>
                {{/if}}
            </table>
        </div>
    </div>
</div>